/*
* Base
* Estilo base do elementos do Html
*/
body {
  background: #fafafa;
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: rockwell;
  src: url("font/mrockwell-italic.woff");
}
/**
* Mixin - Font-weight
*/
/**
* Mixin - Viewport
*/
/**
* Mixin - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
/*
* Global
* Elementos globais que podem ser extendidos ao longo do documento
*/
.container #icone-menu,
min-width: 0 #icone-menu,
max-width: viewport #icone-menu,
margin 0 auto #icone-menu,
width: auto #icone-menu,
.menu #icone-menu {
  width: 18px;
  height: 34px;
  fill: #dec554;
}
.container .titulo-menu,
min-width: 0 .titulo-menu,
max-width: viewport .titulo-menu,
margin 0 auto .titulo-menu,
width: auto .titulo-menu,
.menu .titulo-menu {
  text-transform: uppercase;
  font-size: 12px;
  margin: 1px 0 0;
  color: #dec554;
}
.pesquisar #busca {
  width: 53px;
  height: 53px;
  fill: #dec554;
}
.sacola #carrinho {
  width: 53px;
  height: 53px;
  fill: #336279;
}
.sacola .quantidade {
  color: #336279;
  font-size: 16px;
}
.parallelogram-one {
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #f00;
}
.parallelogram-two {
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #008000;
}
/*
* State
* Estado global do Layout
*/
.cabecalho .menu-principal {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.menu-principal .logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 64px;
  flex: 0 0 173px;
}
.menu-principal .menu {
  display: flex;
  flex-flow: row wrap;
  max-width: 36px;
  justify-content: center;
  align-items: center;
}
.menu-principal .pesquisar,
.menu-principal .sacola {
  display: flex;
  flex-flow: row wrap;
  width: 63px;
  height: 53px;
}
