/*COMPONENTES*/

body
	background #FAFAFA
	font-family 'Poppins', sans-serif

	@font-face
		font-family rockwell
		src url(font/mrockwell-italic.woff)


.logo
	font-family rockwell
	text-transform uppercase
	font-size 50px
	font-weight 700
	color #336279

.menu
	#icone-menu
		width 18px
		height 34px
		fill #DEC554
	.titulo-menu
		text-transform uppercase
		font-size 12px
		margin 0
		color #DEC554

.pesquisar
	#busca
		width 53px
		height 53px
		fill #DEC554

.sacola
	#carrinho
		width 53px
		height 53px
		fill #336279
	.quantidade
		color #336279
		font-size 16px

.parallelogram-one
	width 150px
	height 100px
	-webkit-transform skew(20deg)
	   -moz-transform skew(20deg)
	     -o-transform skew(20deg)
	background red

.parallelogram-two
	width 150px
	height 100px
	-webkit-transform skew(20deg)
	   -moz-transform skew(20deg)
	     -o-transform skew(20deg)
	background green

/*LAYOUTS*/
.cabecalho
	.menu-principal
		display flex
		flex-flow row wrap
		align-items center

.menu-principal
	.logo
		margin-right 64px
		flex 0 0 173px
	.menu
		display flex
		flex-flow row wrap
		max-width 36px
		justify-content center
		align-items center
	.pesquisa
	.sacola
		justify-content flex-end
