/**
* Mixin - Font-weight
*/
/**
* Mixin - Viewport
*/
/**
* Mixin - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
/*
* Global
* Elementos globais que podem ser extendidos ao longo do documento
*/
.container,
body .cabecalho,
body .conteudo,
body .rodape {
  min-width: 0;
  max-width: 1640px;
  margin: 0 auto;
  width: auto;
}
/*
* Base
* Estilo base do elementos do Html
*/
body {
  background: #fafafa;
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: rockwell;
  src: url("font/mrockwell-italic.woff");
}
/*
* Components
* Componentes que se adaptam ao contexto
*/
.menu #icone-menu {
  width: 18px;
  height: 34px;
  fill: #dec554;
}
.menu .titulo-menu {
  text-transform: uppercase;
  font-size: 12px;
  margin: 1px 0 0;
  color: #dec554;
}
.pesquisar #busca {
  width: 53px;
  height: 53px;
  fill: #dec554;
}
.sacola #carrinho {
  width: 53px;
  height: 53px;
  fill: #336279;
}
.sacola .quantidade {
  color: #336279;
  font-size: 16px;
}
.parallelogram-one {
  width: 150px;
  height: 100px;
  background: #f00;
}
.parallelogram-one -webkit-transform skew(20deg) -moz-transform skew(20deg) {
  -o-transform: skew(20deg);
}
.parallelogram-two {
  width: 150px;
  height: 100px;
  background: #008000;
}
.parallelogram-two -webkit-transform skew(20deg) -moz-transform skew(20deg) {
  -o-transform: skew(20deg);
}
/*
* State
* Estado global do Layout
*/
.cabecalho .menu-principal {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.menu-principal .logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 28px;
  flex: 0 0 173px;
}
.menu-principal .menu {
  display: flex;
  flex-flow: row wrap;
  max-width: 36px;
  justify-content: center;
  align-items: center;
}
.menu-principal .pesquisar,
.menu-principal .sacola {
  display: flex;
  flex-flow: row wrap;
  width: 63px;
  height: 53px;
}
.menu-principal .pesquisar {
  justify-content: flex-end;
  flex: 1 1 auto;
  margin-right: 100px;
}
